# Vendor Request Form/requirements.txt
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Werkzeug
email_validator
Flask-Mail
itsdangerous
python-dotenv
gunicorn
psycopg2-binary
python-magic
whitenoise
Flask-Migrate
SQLAlchemy-Utils
WTForms-SQLAlchemy
bleach