Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Werkzeug
email_validator
itsdangerous
python-dotenv
gunicorn
psycopg2-binary
python-magic
whitenoise
Flask-Migrate
SQLAlchemy-Utils
WTForms-SQLAlchemy
bleach
Flask-SocketIO
gevent
gevent-websocket
sendgrid
redis